In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
csv_file = "Resources/HPI_master.csv"
hpi_master_df = pd.read_csv(csv_file)
hpi_master_df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.98,101.06
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.33,100.95
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.72,101.02
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.35,101.40

In [11]:
md_hpi = hpi_master_df.loc[hpi_master_df['place_id'] == 'MD']
md_hpi_rename = md_hpi.rename(columns = {'place_name':'State',
                        'hpi_type':'Data Type',
                        'hpi_flavor':'Index Type',
                        'frequency':'Collection Frequency',
                        'level':'Level',
                        'place_name':'State',
                        'place_id':'State (abrv.)',
                        'yr': 'Year',
                        'period': 'Collection Period',
                        'index_nsa': 'Non-Seasonally Adjusted Index',
                        'index_sa':'Seasonally Adjusted Index'})
md_hpi_rename.head()

,Data Type,Index Type,Collection Frequency,Level,State,State (abrv.),Year,Collection Period,Non-Seasonally Adjusted Index,Seasonally Adjusted Index
68011,traditional,all-transactions,quarterly,State,Maryland,MD,1975,1,61.78,NaN
68012,traditional,all-transactions,quarterly,State,Maryland,MD,1975,2,62.32,NaN
68013,traditional,all-transactions,quarterly,State,Maryland,MD,1975,3,64.99,NaN
68014,traditional,all-transactions,quarterly,State,Maryland,MD,1975,4,66.61,NaN
68015,traditional,all-transactions,quarterly,State,Maryland,MD,1976,1,66.92,NaN

In [12]:
new_hpi = md_hpi_rename.reset_index(drop=True)
new_hpi.head()

,Data Type,Index Type,Collection Frequency,Level,State,State (abrv.),Year,Collection Period,Non-Seasonally Adjusted Index,Seasonally Adjusted Index
0,traditional,all-transactions,quarterly,State,Maryland,MD,1975,1,61.78,NaN
1,traditional,all-transactions,quarterly,State,Maryland,MD,1975,2,62.32,NaN
2,traditional,all-transactions,quarterly,State,Maryland,MD,1975,3,64.99,NaN
3,traditional,all-transactions,quarterly,State,Maryland,MD,1975,4,66.61,NaN
4,traditional,all-transactions,quarterly,State,Maryland,MD,1976,1,66.92,NaN